.container {
    display: flex;
    flex-direction: row;
    align-items: center;
    justify-content: space-between;

}
.links ul{
    display: flex;
}

@media screen and (max-width: 800px) { 
    .links{
        display: none;
    }
}